<footer class="footer bg-dark py-3 mt-auto" style="background-image: linear-gradient(to right, rgb(87, 10, 87), rgb(175, 140, 199));">
    <div class="container">
            <span class="text-white">&copy; mycommerce 2023</span>
    </div>
</footer>